# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
*.pid

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
*.tar.gz
quantum

# Temp certs for etcd
dist/ssl/data/
dist/ssl/certs/
dist/ssl/keys/
dist/ssl/csrs/

# Temp ci xml files
build_output/

# Temp html docs
docs/_build/
docs/_static/
docs/_templates/
